<p id="notice"><%= notice %></p>

Query:
<%= @posts.to_sql %>
<br>

Params:
<%= params %>

<br>

<%= link_to('title_starting_with_an_a', params.merge(title_starting_with: 'a')) %>
<br>
<%= link_to('toggle title sort',params.merge(reorder: {title: next_sort_order_for(:title)})) %>

<form>
  <% params.merge(title_starting_with: params[:title_starting_with]).each do |k, v| %>
    <% if k.to_sym == :title_starting_with %>
      <%= label_tag(k, 'title starting with') %>
      <%= text_field_tag(k, v) %>
    <% else %>
      <%= hidden_field_tag(k, v) %>
    <% end %>
  <% end %>
</form>

<form>
  <% params.merge(page: params[:page]).each do |k, v| %>
    <% if k.to_sym == :page %>
      <%= label_tag(k, 'page') %>
      <%= text_field_tag(k, v) %>
    <% else %>
      <%= hidden_field_tag(k, v) %>
    <% end %>
  <% end %>
</form>

<%= will_paginate @posts %>
<%= link_to 'New Post', new_post_path %>
